<%= render '/shared/navbar'%>
<main class="container mx-auto  mt-5 px-5 flex -full">
  <div class="grid grid-col w-full">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col gap-2">

        <div class="field  w-full">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'border-b border-b-[#d1d1d1] p-3 focus:outline-none w-full' %>
        </div>

        <div class="field  w-full">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'border-b border-b-[#d1d1d1] p-3 focus:outline-none  w-full' %>
        </div>

        <div class=" w-full">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'border-b border-b-[#d1d1d1] p-3 focus:outline-none  w-full' %>
        </div>

        <div class="field  w-full">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation password', class: 'border-b border-b-[#d1d1d1] p-3  focus:outline-none w-full' %>
        </div>
        <br>
        <div class="actions">        
          <%= f.submit "Sign up", class: 'btn  btn-primary w-full' %>
        </div>
      <% end %>
    </div>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</main>