<div class="grid content-between min-h-screen">
  <div>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="navbar-start">
        <%= link_to(root_path, class: "btn btn-outline-light btn-lg") do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="evaArrowIosBackFill0">
              <g id="evaArrowIosBackFill1">
                <path id="evaArrowIosBackFill2" fill="currentColor" d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64Z" />
              </g>
            </g>
          </svg>
        <% end %>
      </div>
      <div class="navbar-center">CATEGORIES</div>
      <div class="navbar-end">
        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="currentColor">
              <path d="M12 3.25a.75.75 0 0 1 0 1.5a7.25 7.25 0 0 0 0 14.5a.75.75 0 0 1 0 1.5a8.75 8.75 0 1 1 0-17.5Z" />
              <path d="M16.47 9.53a.75.75 0 0 1 1.06-1.06l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H10a.75.75 0 0 1 0-1.5h8.19l-1.72-1.72Z" />
            </g>
          </svg>
        <% end %>
      </div>
    </div>

    <div class="flex justify-between shadow-lg text-lg px-5 py-3">
      <p>Credit</p>
      <small class="font-weight-bold text-lg">
        <% credit = 0 %>
        <% @categories.each do |category| %>
          <% category.transfers.each do |transaction| %>
            <% credit += transaction.amount %>
          <% end %>
        <% end %>
        <%= "$#{credit}" %>
      </small>
    </div>

    <div>
      <main class="container mx-auto px-5 mt-5">
        <% if @categories.empty? %>
          <div class="flex w-full">
            <h class="text-lg text-center bg-red-500 text-white p-3 w-full"> No categories </h>
          </div>
        <% else %>
          <% @categories.each do |category| %>
            <div class="flex justify-between shadow-xl p-4">
              <div class="flex gap-3 w-full">
                <div class="avatar">
                  <%= link_to category_transfers_path(category.id) do %>
                    <div class="w-24 rounded-lg overflow-hidden">
                      <img src="<%= category.icon %>" class="w-full h-full object-cover" />
                    </div>
                  <% end %>
                </div>
                <div class="grid content-between">
                  <p class="text-lg">
                    <%= link_to category_transfers_path(category.id) do %>
                      <%= category.name %>
                    <% end %>
                  </p>
                  <span class="text-sm">
                    <%= category.created_at.strftime("%b %d, %Y") %>
                  </span>
                </div>
              </div>
              <div class="flex flex-col justify-between">
                <p class="font-weight-bold text-lg">
                  <% sum = 0 %>
                  <% category.transfers.each do |transaction| %>
                    <% sum += transaction.amount %>
                  <% end %>
                  <%= "$#{sum}" %>
                </p>
                <% if can? :destroy,transaction %>
                  <%= button_to category_entity_path(category, transaction), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } do %>
                    Delete
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </main>
    </div>
  </div>
</div>