<%= render '/shared/navbar'%>
<main class="container mx-auto px-5 mt-5 flex w-full">
<div class="w-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col gap-2 w-full">  
      <div class="field w-full">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'border-b border-b-[#d1d1d1] p-3 active:border-none w-full' %>
        </div>

        <div class="field ">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'border-b border-b-[#d1d1d1] p-3 active:border-none w-full' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field ">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary w-full' %>
        </div>
        <%= render "devise/shared/links"%>
    </div>
    <% end %>
  </div>
</main>