<div class="container-fluid d-flex flex-column justify-between min-vh-100">
    <div>
      <div>
        <%= render '/shared/user_navbar' %>
        <div class="d-flex justify-content-between shadow px-5 py-3">
          <p>Credit</p>
          <small>
            <% credit = 0 %>
            <% @categories.each do |category| %>
              <% category.transfers.each do |transaction| %>
                <% credit += transaction.amount %>
              <% end %>
            <% end %>
            <%= "$#{credit}" %>
          </small>
        </div>
      </div>
      <main class="container mx-auto mt-5">
        <% if @transfers.empty? %>
          <h1 class="text-center p-3 bg-red-500 text-white shadow-xl">
            No Transaction
          </h1>
        <% else %>
          <% @transfers.each do |transfer| %>
            <div class="d-flex justify-content-between shadow-xl p-4">
              <div class="d-flex flex-column">
                <p class=""><%= transfer.name %></p>
                <span class="text-sm"><%= transfer.created_at.strftime("%b %d, %Y") %></span>
              </div>
              <div class="d-flex flex-column">
                <p class="font-weight-bold text-xl"><%= transfer.amount %></p>
                <% if can? :destroy, transfer %>
                  <%= button_to category_transfer_path(@category.id, transfer.id), method: :delete,
                    class: "btn btn-danger btn-sm" do %>
                    <span class="text-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" viewBox="0 0 48 48">
                        <path fill="currentColor" d="M20 10.5v.5h8v-.5a4 4 0 0 0-8 0Zm-2.5.5v-.5a6.5 6.5 0 1 1 13 0v.5h11.25a1.25 1.25 0 1 1 0 2.5h-2.917l-2 23.856A7.25 7.25 0 0 1 29.608 44H18.392a7.25 7.25 0 0 1-7.224-6.644l-2-23.856H6.25a1.25 1.25 0 1 1 0-2.5H17.5Zm4 9.25a1.25 1.25 0 1 0-2.5 0v14.5a1.25 1.25 0 1 0 2.5 0v-14.5ZM27.75 19c-.69 0-1.25.56-1.25 1.25v14.5a1.25 1.25 0 1 0 2.5 0v-14.5c0-.69-.56-1.25-1.25-1.25Z" />
                      </svg>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </main>
    </div>
    <div class="text-center bg-[#5FB523] p-3">
      <%= link_to 'ADD TRANSACTION', new_category_transfer_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>