  <%= render '/shared/user_navbar' %>

  <main class="container mx-auto px-5 mt-5">
   
    <%= form_with(model: [@category, @transfer], local: true) do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'form-control', required: true %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.text_field :amount, autofocus: true, autocomplete: "name", placeholder: 'Amount', class: 'form-control', required: true %>
          </div>
        </div>

        <div class="col-sm-12">
          <%= f.submit "Add Transaction", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </main>